/*重构*/

.login_con.init {
    width: 100%;
    height: 100%;
  	background: url("../images/login_bg.jpg") no-repeat;
    background-size: 100% 170%;
    margin: 0 auto;
}

.login.init { 
	   position: fixed;
    width: 400px;
    height: 360px;
    min-height: 300px;
    padding-bottom: 10px;
    left: 50%;
    right: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -180px;
    box-shadow: 0px 5px 7px rgba(196, 47, 51, 0.7);
    background: #fff;
    border-radius: 5px;
    z-index: 10000;
    
}

@media only screen and (min-width: 1024px) {
	.login.init {
		width: 500px;
		height: 430px;
		padding-bottom: 10px;
		position: fixed;
		left: 50%;
		top: 50%;
		margin-left: -250px;
		margin-top: -215px;
		box-shadow: 0px 5px 7px rgba(196, 47, 51, 0.7);
		background: #fff;
	}
	.init .login_tian ul {
		width: 100%;
		margin-left: 70px;
	}
	.login .login-ttl {
    font-size: 30px;
    padding: 44px 0 0;
}
.login.init .login_tian {
    margin-top: -10px;
}
}



.login_tian ul li {
    height: 40px;
    /* margin-bottom: 20px; */
    color: #ccc;
    font-size: 16px;
    line-height: 35px;
    position: relative;
    float: left;
       margin-bottom: 22px;
}

.login_tian ul li input {
    font-size: 18px;
    transition: all 0.2s;
    width: 200px;
    border: 0px;
    border-bottom: 1px solid #000;
    height: 35px;
    float: left;
}

.login_tian ul li em {
    font-style: normal;
    position: absolute;
    left: 130px;
    font-size: 14px;
    bottom: -26px;
    color: red;
}

 .login .login-ttl {
    font-size: 26px;
    padding-top: 26px;
}
 

.login_tian ul li span {
    width: 100px;
    letter-spacing: 2px;
    float: left;
    text-align: center;
    height: 44px;
    font-size: 18px;
    line-height: 44px;
    color: #666666;
    display: block;
}

.login_tian ul li input {
    font-size: 18px;
    transition: all 0.2s;
    width: 200px;
    border: 0px;
    border-bottom: 1px solid #000;
    height: 34px;
 
    float: left;
}

.login .lj_btn {
    width: 100%;
    height: 70px;
    margin-top: 10px;
    line-height: 35px;
    text-align: center;
    /* font-size: 20px; */
    color: #333;
}

.init .login .lj_btn a {
    color: #039be5;
    font-size: 18px;
    width: 140px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    float: none;
}