/*重构*/


.pay_con_main .pay_left, .pay_con_main .pay_right {
    position: relative;
    background: #ffffff;
    box-sizing: content-box;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.pay_process {
	text-align: center;
	font-size: 30px;
	height: 60px;
	line-height: 60px;
}

.pay_con .pay_bottom.last {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.pay_con .pay_bottom a {
	font-size: 28px;
	padding-left: 25px !important;
	padding-right: 25px !important;
}

.pay_bottom a+a {
	margin-left: 20px;
}

.pay_right .order_titles {
	font-size: 28px;
	height: 34px;
	line-height: 34px;
	margin-bottom: 10px;
}

.row1 {
	margin-bottom: 10px;
}

.pay_bottom>span {
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	color: #474747;
	font-size: 28px;
}

.pay_con .pay_bottom.last.max-1024 {
	display: none;
}

@media screen and (min-width: 1024px) {
	.pay_con .pay_bottom.last.max-1024 {
		position: relative;
		display: block;
		width: auto;
		right: 0;
		top: 100px;
		text-align: center;
	}
	.pay_con .pay_bottom.last.max-1024 a {
		display: block;
		width: 400px;
		margin: 0 auto;
		height: 80px;
		line-height: 50px;
		margin-bottom: 30px;
	}
	.pay_con {
		margin-top: 30px;
	}
	.pay_con .pay_bottom.last {
		display: none;
	}
	
	.pay_con_main .pay_right {
     min-height: 100px
  
		}
		
.pay_con_main .pay_right {
    position: relative;
    background: none;
    box-sizing: content-box;
    padding: 10px 0;
    border-radius: 20px;
    	box-shadow: none;
}

.pay-list{
	padding: 15px;
	background: #fff;
	border-radius:5px ;
	box-shadow: 0 5px 13px rgba(0, 0, 0, 0.5);
}
}


/*立即付款*/

.pay_con .row1 .pay_btn a.payment {
	display: inline-block;
	width: 156px;
	height: 50px;
	text-align: center;
	/* background: url(../images/pay_btn_bg.png);*/
	background: #157e15;
	color: #fff;
	margin: 20px 20px 0 10px;
	font-size: 28px;
	line-height: 50px;
	margin-right: 100px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #ccc;
}

.pay_con .row1 .pay_btn a.payment_re {
	display: inline-block;
	width: 156px;
	height: 50px;
	text-align: center;
	background: #c48020;
	color: #fff;
	margin: 20px 20px 0 10px;
	font-size: 28px;
	line-height: 50px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #ccc;
}


/*付款信息提示文字*/

.pay_con .pay_bottom span {
	display: block;
	float: left;
	color: #fff;
}

/*支付成功弹框*/
.pay_succeed {
    width: 400px;
    height: 400px;
  
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    background: #fff;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 5px;
    display: none;
    z-index: 10002;
}

.pay_succeed .pay_succeed_img {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

.pay_succeed .pay_succeed_img img {
   
    width: 60%;
}