
	
	/*@media screen and (max-height:600px){
		
	.bottom a.submit{  
		position: absolute;
		left: 50%;
		margin-left: -76px;
		width:152px;
		height:40px;
	 	line-height:35px;
	    margin-top:14px;
	    background-size:100% 100%;
	 	 font-size:24px;

	   }
		
		
	}*/